<div layout="column">

	<md-toolbar>
		<div class="md-toolbar-tools">
			
			<h1>{{::vm.title}}</h1>
			
			<span flex></span>
			
			<md-button class="md-icon-button" aria-label="back" title="back" ng-href="{{::vm.backUrl}}">
				<md-icon md-svg-icon="arrow-back"></md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<md-content flex>
	<!-- http://ltd.kentw.co.uk/functional/r12-advanced-collections-iex/ -->
	<form name="collectionsForm">
		<div layout="row" layout-sm="column">
			<div flex><!-- Column #1 -->
				<md-input-container><label>Firstname</label><input ng-model="vm.customer.firstName" ng-readonly="true"></md-input-container>
				<md-input-container><label>Lastname</label><input ng-model="vm.customer.lastName" ng-readonly="true"></md-input-container>
				<md-input-container><label>Middle name</label><input ng-model="vm.customer.middleName" ng-readonly="true"></md-input-container>
				<md-input-container><label>Title</label><input ng-model="vm.customer.title" ng-readonly="true"></md-input-container>
				<md-input-container><label>Organization</label><input ng-model="vm.customer.organization" ng-readonly="true"></md-input-container>
				<md-input-container><label>Address</label><input ng-model="vm.customer.address" ng-readonly="true"></md-input-container>
				<md-input-container><label>E-mail</label><input ng-model="vm.customer.email" ng-readonly="true"></md-input-container>
				<md-input-container><label>Phone type</label><input ng-model="vm.customer.phoneType" ng-readonly="true"></md-input-container>
				<md-input-container><label>Phone</label><input ng-model="vm.customer.phone" ng-readonly="true"></md-input-container>
			</div>
			<div flex><!-- Column #2 -->
				<md-input-container><label>Coll. status</label><input ng-model="vm.customer.collectionStatus"></md-input-container>
				<md-input-container><label>Ident. number</label><input ng-model="vm.customer.identificationNumber"></md-input-container>
				<md-input-container><label>Customer since</label><input ng-model="vm.customer.customerSince"></md-input-container>
				<md-input-container><label>Coll. score</label><input ng-model="vm.customer.collectionScore"></md-input-container>
				<md-input-container><label>Collectible transactions</label><input ng-model="vm.customer.collectibleTransactions"></md-input-container>
				<md-input-container><label>Delinquencies in past year</label><input ng-model="vm.customer.delinquenciesPastYear"></md-input-container>
				<md-input-container><label>Delinquent invoices</label><input ng-model="vm.customer.delinquentInvoices"></md-input-container>
			</div>
			<div flex><!-- Column #3 -->
				<md-input-container><label>Operating unit</label><input ng-model="vm.customer.operatingUnit"></md-input-container>
				<md-input-container><label>View*</label><input ng-model="vm.customer.view"></md-input-container>
				<md-input-container><label>Amount overdue</label><input ng-model="vm.customer.amountOverdue"></md-input-container>
				<md-input-container><label>Net balance</label><input ng-model="vm.customer.netBalance"></md-input-container>
				<md-input-container><label>DSO</label><input ng-model="vm.customer.dso"></md-input-container>
				<md-input-container><label>Last payment paid on</label><input ng-model="vm.customer.lastPaymentPaidOn"></md-input-container>
				<md-input-container><label>Last payment due on</label><input ng-model="vm.customer.lastPaymentDueOn"></md-input-container>
				<md-input-container><label>Last payment amount</label><input ng-model="vm.customer.lastPaymentAmount"></md-input-container>
			</div>
		</div>
		
		<div>
			<md-tabs>
				<md-tab label="Profile"> <!-- Credit overview and metrics -->
					<div layout="column" layout-align="start center">
						<!-- <div>begin tab content -->
							<div layout="row" layout-sm="column">
								<div flex><!-- Column #1 -->
									<div layout="row">
										<md-input-container><label>Credit limit</label><input ng-model="vm.customer.profile.creditLimitAmount"></md-input-container>
										<md-input-container><label>x</label><input ng-model="vm.customer.profile.creditLimitCurrency"></md-input-container>
									</div>
									<md-input-container><label>Credit hold</label><input ng-model="vm.customer.profile.creditHoldIndicator"></md-input-container>
									<md-input-container><label>Credit rating</label><input ng-model="vm.customer.profile.creditRating"></md-input-container>
									<md-input-container><label>Collector name</label><input ng-model="vm.customer.profile.collectorName"></md-input-container>
									<md-input-container><label>Include in dunning</label><input ng-model="vm.customer.profile.includeInDunningIndicator"></md-input-container>
								</div>
								<div flex><!-- Column #2 -->
									<md-subheader>Past year installments</md-subheader>
									<md-input-container><label>Due</label><input ng-model="vm.customer.profile.pastYearInstallments.due"></md-input-container>
									<md-input-container><label>On time</label><input ng-model="vm.customer.profile.pastYearInstallments.onTime"></md-input-container>
									<md-input-container><label>Unpaid</label><input ng-model="vm.customer.profile.pastYearInstallments.unpaid"></md-input-container>
									<md-input-container><label>Late</label><input ng-model="vm.customer.profile.pastYearInstallments.late"></md-input-container>
								</div>
								<div flex><!-- Column #3 -->
									<md-subheader>Past year promises</md-subheader>
									<md-input-container><label>Total</label><input ng-model="vm.customer.profile.pastYearPromises.total"></md-input-container>
									<md-input-container><label>Broken</label><input ng-model="vm.customer.profile.pastYearPromises.broken"></md-input-container>
									<md-input-container><label>Open</label><input ng-model="vm.customer.profile.pastYearPromises.open"></md-input-container>
								</div>
								<div flex><!-- Column #4 -->
									<md-subheader>Last interaction</md-subheader>
									<md-input-container><label>Type</label><input ng-model="vm.customer.profile.lastInteraction.type"></md-input-container>
									<md-input-container><label>Date</label><input ng-model="vm.customer.profile.lastInteraction.date"></md-input-container>
									<md-input-container><label>Contacted by</label><input ng-model="vm.customer.profile.lastInteraction.contactedBy"></md-input-container>
									<md-input-container><label>Result</label><input ng-model="vm.customer.profile.lastInteraction.result"></md-input-container>
								</div>
							</div>
							
							<md-subheader>Metrics as of <span ng-model="vm.customer.profile.metrics.asOf">XX.XX.XXXX</span></md-subheader>
							
							<div layout="row" layout-sm="column">
								<div flex><!-- Column #1 -->
									<table class="table">
										<thead><tr><th>Name</th><th>Value</th><th>R</th></tr></thead>
										<tbody>
											<tr><td>Average days late</td><td>0</td><td>Low</td></tr>
											<tr><td>Customer Conventional DSO</td><td>0</td><td>Low</td></tr>
										</tbody>
									</table>
								</div>
								<div flex><!-- Column #2 -->
									<table class="table">
										<thead><tr><td>Name</td><td>Value</td><td>R</td></tr></thead>
									</table>
								</div>
							</div>
						<!-- </div> end tab content -->
					</div>
				</md-tab>
				
				<md-tab label="History"> <!-- Correspondence, adjustments, calls and other interactions -->
					<div layout="column" layout-align="start center">
						<div><!-- begin tab content -->
							<div layout="row">
								<md-input-container><label>Type</label><input ng-model="historyCriteria.type"></md-input-container>
								<md-input-container><label>From</label><input ng-model="historyCriteria.dateFrom"></md-input-container>
								<md-input-container><label>To</label><input ng-model="historyCriteria.dateTo"></md-input-container>
								<md-button>View</md-button>
							</div>
							
							<table class="table">
								<thead><tr><td>Transaction^</td><td>Activity^</td><td>Status</td><td>Date</td><td>Amount</td><td>Currency</td><td>Operating unit</td><td>Comments</td></tr></thead>
							</table>
						</div><!-- end tab content -->
					</div>
				</md-tab>
			
				<md-tab label="Accounts"> <!-- Accounts and their details -->
					<div layout="row">
						<div flex="33"><!-- Column #1: Master list -->
							<table class="table">
								<thead><tr><th>Number</th><th>Name</th><th>Status</th></tr></thead>
								<tbody><tr><th>1</th><td>xxxxxxx</td><td>xx</td></tr></tbody>
							</table>
							<div layout="row">
								<md-button>Details</md-button>
								<md-button>Customer standard</md-button>
							</div>
						</div>
						<div flex="66" layout="column"><!-- Column #2: Details item -->
							<div layout="row">
								<div><!-- Column #2A -->
									<md-input-container><label>Name</label><input ng-model="selectedAccount.name"></md-input-container>
									<md-input-container><label>Number</label><input ng-model="selectedAccount.number"></md-input-container>
									<md-input-container><label>Status</label><input ng-model="selectedAccount.status"></md-input-container>
									<md-input-container><label>Tax code</label><input ng-model="selectedAccount.taxCode"></md-input-container>
									<md-input-container><label>Refund method</label><input ng-model="selectedAccount.refundMethod"></md-input-container>
									<md-input-container><label>Amount overdue</label><input ng-model="selectedAccount.amountOverdue"></md-input-container>
									<md-input-container><label>Net balance</label><input ng-model="selectedAccount.netBalance"></md-input-container>
								</div>
								<div><!-- Column #2B -->
									<md-input-container><label>Suspension date</label><input ng-model="selectedAccount.suspensionDate"></md-input-container>
									<md-input-container><label>Termination date</label><input ng-model="selectedAccount.terminationDate"></md-input-container>
									<md-input-container><label>Statement cycle</label><input ng-model="selectedAccount.statementCycleType"></md-input-container>
									<md-input-container><label>Tax rounding rule</label><input ng-model="selectedAccount.taxRoundingRule"></md-input-container>
									<md-input-container><label>Score</label><input ng-model="selectedAccount.score"></md-input-container>
								</div>
							</div>
							<div layout="row">
								<md-button>View open lines listing</md-button>
								<md-button>Payment processing</md-button>
							</div>
						</div>
					</div>
				</md-tab>
				<md-tab label="Transactions"> <!--  List of delinquent transactions but can also include current and closed transactions  -->
					<div layout="column" layout-align="start center">
						<div><!-- begin tab content -->
							content
						</div><!-- end tab content -->
					</div>
				</md-tab>
				<md-tab label="Lifecycle"> <!-- List of delinquent transactions and their current collection status  -->
					<div layout="column" layout-align="start center">
						<div><!-- begin tab content -->
							content
						</div><!-- end tab content -->
					</div>
				</md-tab>
				<md-tab label="Strategy"> <!-- Current assigned strategy and work items pending or completed  -->
					<div layout="column" layout-align="start center">
						<div><!-- begin tab content -->
							content
						</div><!-- end tab content -->
					</div>
				</md-tab>
				<md-tab label="Aging"> <!-- Delinquent transactions summarised by aging buckets  -->
					<div layout="column" layout-align="start center">
						<div><!-- begin tab content -->
							content
						</div><!-- end tab content -->
					</div>
				</md-tab>
				<md-tab label="Comments"> <!-- Comments can be taken here and can optionally be visible to other collectors -->
					<div layout="column" layout-align="start center">
						<div><!-- begin tab content -->
							content
						</div><!-- end tab content -->
					</div>
				</md-tab>
				<md-tab label="Tasks"> <!-- List of tasks  -->
					<div layout="column" layout-align="start center">
						<div><!-- begin tab content -->
							content
						</div><!-- end tab content -->
					</div>
				</md-tab>
			</md-tabs>
		</div>
	</form>
	</md-content>
	
</div>