<h1>Balance Inquiry</h1>

<div ng-show="!balances">
	<h3>Select the account type</h3>
	<md-grid-list md-cols="2" md-row-height="25px" md-gutter="1em">
		<md-grid-tile ng-repeat="accountType in accountTypes">
			<md-button style="width:200px" class="md-raised" ng-click="requestBalance(accountType)">{{accountType}}</md-button>
		</md-grid-tile>
	</md-grid-list>
</div>

<div ng-show="balances">
	<h3>Balances</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Type</th>
				<th>Balance</th>
				<th>Currency</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="balance in balances">
				<td>{{balance.Type}}</td>
				<td>{{balance.Amount  | number : 2 }}</td>
				<td>{{balance.Currency}}</td>
			</tr>
		</tbody>
	</table>
</div>