.site-sidenav,
.site-sidenav.md-locked-open-add-active,
.site-sidenav.md-locked-open {
	width: 254px;
	min-width: 254px;
	max-width: 254px;
}
.site-sidenav > * {
	min-width: 218px;
}
.docs-menu-icon {
	background: none;
	border: none;
	margin-right: 16px;
	padding: 0;
}


/* Workaround: https://github.com/angular/material/issues/1586 */
md-input-container > md-select {
  flex: 1;
  order: 2;
  margin: 0;
  min-height: 26px;
}