<div layout="row" layout-align="center start">
	<div flex="33">
		<div><a href="#/dcms/admin">admin</a></div>
		
		<ul>
			<li><a href="#/dcms/admin/questionnaire">questionnaire</a></li>
			<li><a href="#/dcms/admin/checklist">checklist</a></li>
		</ul>
	</div>
	
	
	<div flex ui-view>
		<h2>Administration</h2>
		<p>Before you begin implementing Collections Solutions, you must make certain business
		decisions about your collections process. The decisions you make will affect the choices
		you make in the <a href="#/dcms/admin/questionnaire">Questionnaire</a> 
		and <a href="#/dcms/admin/checklist">Checklist</a>.</p>
		<p><a href="#/dcms/admin/questionnaire">Questionnaire</a>, <a href="#/dcms/admin/checklist">Checklist</a>, 
		and Task pages should be completed by someone who is
		familiar with your business rules and has operational and functional knowledge of your
		collections organization.</p>
	</div>
</div>