<h2>Questionnaire for setup</h2>

<h3>Operations</h3>

<h4>General information</h4>

<div layout="row" layout-align="center center" layout-margin>
	<md-icon md-svg-icon="question-answer"></md-icon>
	<div flex>What aging bucket should be automatically displayed?</div>
	<md-select placeholder="Pick" ng-model="general.q1">
		<md-option value="1">Collections</md-option>
		<md-option value="2">Two</md-option>
    </md-select>
</div>

<div layout="row" layout-align="center center" layout-margin>
	<md-icon md-svg-icon="question-answer"></md-icon>
	<div flex>Should collectors have access to all customers or only customers they work with?</div>
	<md-select placeholder="Pick" ng-model="general.q2">
		<md-option value="1">Full</md-option>
		<md-option value="2">Two</md-option>
    </md-select>
</div>
<div layout="row" layout-align="center center" layout-margin>
	<md-icon md-svg-icon="question-answer"></md-icon>
	<div flex>At what level do you assign territories to collectors?</div>
	<md-select placeholder="Pick" ng-model="general.q3">
		<md-option value="1">Bill to</md-option>
		<md-option value="2">Two</md-option>
    </md-select>
</div>
<div layout="row" layout-align="center center" layout-margin>
	<md-icon md-svg-icon="question-answer"></md-icon>
	<div flex>Select the exchange rate type for multi-currency transactions</div>
	<md-select placeholder="Pick" ng-model="general.q4">
		<md-option value="1">Corporate</md-option>
		<md-option value="2">Two</md-option>
    </md-select>
</div>
<div layout="row" layout-align="center center" layout-margin>
	<md-icon md-svg-icon="question-answer"></md-icon>
	<div flex>Are collectors allowed to assign or release a customer credit hold?</div>
	<md-select placeholder="Pick" ng-model="general.q5">
		<md-option value="1">Yes</md-option>
		<md-option value="2">No</md-option>
    </md-select>
</div>
<div layout="row" layout-align="center center" layout-margin>
	<md-icon md-svg-icon="question-answer"></md-icon>
	<div flex>Will collectors initiate service hold requests?</div>
	<md-select placeholder="Pick" ng-model="general.q6">
		<md-option value="1">Yes</md-option>
		<md-option value="2">No</md-option>
    </md-select>
</div>
<div layout="row" layout-align="center center" layout-margin>
	<md-icon md-svg-icon="question-answer"></md-icon>
	<div flex>Which items will be tracked from customer interactions?</div>
	
</div>

<h5>Personalize access</h5>

<h5>Personalize interaction tracking</h5>

<h4>Display preferences</h4>

<h4>Correspondence</h4>

<h3>Transactions</h3>

<h3>Collections Methods</h3>

<ul>
	<li><a href="#/dcms/admin/questionnaireScoringComponents">Create scoring components</a></li>
	<li><a href="#">Create scoring engine</a></li>
	<li><a href="#">Create dunning plans</a></li>
	<li><a href="#">Define dunning letter sets</a></li>
</ul>




