<h2>Setup receivables</h2>

<ul>
	<li>Currencies</li>
	<li>Daily conversion rate types and daily rates</li>
	<li>Aging buckets</li>
	<li>Lockboxes</li>
	<li>Receipt methods</li>
	<li>Credit memo workflow</li>
	<li>Approval Limits</li>
	<li>Collectors</li>
	<li>Transaction Types</li>
</ul>

<h3>Options</h3>

<p><md-switch aria-label="Allow Summary Table Refresh">Allow Summary Table Refresh</md-switch>
This information is displayed on
the Collector's Work Queue Delinquency nodes and provides a quick snapshot of the
financial health of delinquent customers. Information can be viewed at the customer,
account, bill to, or delinquency data level.</p>