<h2>Setup solution</h2>

<p>As you answer questions and make decisions about how you
will use the solution, the system sets system profile options in the
background at the site level. It also performs setup tasks, such as displaying tabs and
creating scoring engines.</p>

<md-tabs>
	<md-tab label="Questionnaire">
		<h3>Operations</h3>
		<p>At what level does your organization do business with customers?</p>
		
		<h3>Transactions</h3>
		<p>Do collections agents take payment from customers?</p>
		<p>Which payment methods do you accept?</p>
		<p>What other transaction activities do you allow?</p>
		<p>Do you take promises to pay from your customers?</p>
		<p>Which later stage delinquencies does your organization manage?</p>
		
		<h3>Collections Methods</h3>
		<p>Which collections methods does your organization use?</p>
	</md-tab>
	<md-tab label="Checklist">
		<p>It lists the setup tasks to be completed based on your responses in the Collections
		Questionnaire, indicates which tasks are mandatory, and shows the status of each task.</p>
		
		<h3>General information</h3>
		
		<h3>Display preferences</h3>
		
		<h3>Correspondence</h3>
		
		<h3>Transaction setup</h3>
		
		<h3>Collections method setup</h3>
	</md-tab>
	<md-tab label="Task Pages">The task pages ask additional questions about each topic.</md-tab>
</md-tabs>