<h2>Setup process history</h2>

 <p><md-switch aria-label="XXX">Payment Reversal</md-switch><p>
 <p><md-switch aria-label="XXX">Payment Credit Card</md-switch><p>
 <p><md-switch aria-label="XXX">Payment Bank Transfer</md-switch><p>
 <p><md-switch aria-label="XXX">Payment Promise to Pay</md-switch><p>
 <p><md-switch aria-label="XXX">Payment Terms</md-switch><p>
 <p><md-switch aria-label="XXX">Dispute Invoice</md-switch><p>
 <p><md-switch aria-label="XXX">Dispute Debit Memo</md-switch><p>
 <p><md-switch aria-label="XXX">Dispute Send Copy of Invoice</md-switch><p>
 <p><md-switch aria-label="XXX">Directory Assistance Dial New Number</md-switch><p>
 <p><md-switch aria-label="XXX">Case Create Case</md-switch><p>
 <p><md-switch aria-label="XXX">Strategy Create Strategy</md-switch><p>
 <p><md-switch aria-label="XXX">Strategy Modify Strategy</md-switch><p>