<h2>Setup organization</h2>

<p>Record the physical location where your users work and all the different departments and sections which make up your enterprise.<p>

<div>
	<md-tabs class="md-whiteframe-z1">
		<md-tab label="Service">
			<div layout="column" layout-padding layout-margin>
				<md-input-container><label>Backend service URL</label><input ng-model="service.uri"></md-input-container>
				<md-radio-group ng-model="service.securityType" layout="row" layout-align="start center">
					<div>Security</div>
					<md-radio-button value="none">None</md-radio-button>
					<md-radio-button value="keys">API keys</md-radio-button>
					<md-radio-button value="oauth2">OAuth v2.0 tokens</md-radio-button>
				</md-radio-group>
				
				<div ng-show="service.securityType == 'oauth2'">
					<md-input-container class="md-input-has-value">
						<label>OAuth2 provider</label>
						<md-select ng-model="service.oauth2.providerName" placeholder="Select...">
							<md-option ng-value="oauthProvider.name" ng-repeat="oauthProvider in oauthProviders | filter: {active: true }">
								{{oauthProvider.name}}
							</md-option>
						</md-select>
					</md-input-container>
				</div>
				
				<p>
					<md-button ng-click="testConnection()">Test connection</md-button>
				</p>
			</div>

		</md-tab>
		
		<md-tab label="Locations" md-on-select="onSelectLocations()">
			<div ng-show="!viewLocation" layout="column" layout-padding layout-margin>
				<div>Record the physical locations where your users work.</div>
				<table class="table">
					<thead>
						<tr><th>Name</th><th>Country</th><th>Actions</th></tr>
					</thead>
					<tbody>
						<tr ng-repeat="location in locations">
							<td>{{location.Name}}</td>
							<td>{{location.Properties.address.country}}</td>
							<td>
								<md-button ng-click="beginEdit(location)">Edit</md-button>
							</td>
						</tr>
					</tbody>
				</table>
				<p>
					<md-button ng-click="beginEdit()">Add location</md-button>
				</p>
			</div>
			<div ng-show="viewLocation" layout="column" layout-padding layout-margin>
				<md-input-container><label>Name</label><input ng-model="viewLocation.Name"></md-input-container>
				<md-input-container><label>Description</label><input ng-model="viewLocation.Properties.description"></md-input-container>
				<md-input-container><label>Timezone</label><input ng-model="viewLocation.Properties.timezone"></md-input-container>
				<md-subheader>Address</md-subheader>
				<md-input-container><label>Line 1</label><input ng-model="viewLocation.Properties.address.line1"></md-input-container>
				<md-input-container><label>Line 2</label><input ng-model="viewLocation.Properties.address.line2"></md-input-container>
				<md-input-container><label>City</label><input ng-model="viewLocation.Properties.address.city"></md-input-container>
				<md-input-container><label>State/Province/Region</label><input ng-model="viewLocation.Properties.address.region"></md-input-container>
				<md-input-container><label>ZIP/Postal code</label><input ng-model="viewLocation.Properties.address.zip"></md-input-container>
				<md-input-container><label>Country</label><input ng-model="viewLocation.Properties.address.country"></md-input-container>
				<p layout="row">
					<md-button class="md-primary" ng-click="saveLocation(viewLocation)">Save</md-button>
					<md-button ng-click="cancelEdit()">Cancel</md-button>
				</p>
			</div>
		</md-tab>
		
		<md-tab label="Departments">
			<div layout="column" layout-padding layout-margin>
				<p>Record all the different departments and sections which make up your enterprise.</p>
			</div>
		</md-tab>
	</md-tabs>
</div>