<h2>Setup tasks</h2>

<p>If you use dunning plans with callbacks, the system creates tasks for the
assigned collectors using the available callback task type. Run the "IEX: Create Dunning
And Broken Promise Call Backs" concurrent program to display dunning callbacks in the
Collector's Work Queue.</p>

<p>Define Status (Status Transition and Rules is not supported), Priorities, Types (Resource Requirements and Workflow are not supported), Templates (Dependencies and recurrences are not supported)</p>