<div layout="row" layout-align="center start">
	<div flex="33">
		<div><a href="#/dcms/setup">setup</a></div>
		<ul>
			<li><a href="#/dcms/setup/authentication">authentication</a></li>
			<li><a href="#/dcms/setup/omOrganization">organization</a></li>
			<li><a href="#/dcms/setup/omUsers">users</a></li>
			<li><a href="#/dcms/setup/omGroups">groups</a>*</li>
			<li><a href="#/dcms/setup/omMembership">roles and members</a></li>
			<li><a href="#/dcms/setup/omCollectors">collectors</a>*</li>
			<li><a href="#/dcms/setup/omSecurity">security and responsibilities</a></li>
			<li><a href="#/dcms/setup/domReceivables">receivables</a></li>
			<li>cash management</li>
			<li>payments*</li>
			<li>customer portal*</li>
			<li>units of measure</li>
			<li><a href="#/dcms/setup/bpTasks">tasks</a>*</li>
			<li><a href="#/dcms/setup/bpComments">comments</a>*</li>
			<li><a href="#/dcms/setup/bpHistory">history tracking</a>*</li>
			<li><a href="#/dcms/setup/cmCorrespondence">correspondence</a>*</li>
			<li><a href="#/dcms/setup/cmTemplates">correspondence templates</a>*</li>
			<li>call center environment*</li>
			<li>call wrap-up*</li>
			<li>trade management*</li>
			<li>bill presentment*</li>
			<li>install lease and finance management*</li>
			<li>install loans*</li>
			<li><a href="#/dcms/setup/solution">solution</a></li>
		</ul>
	</div>
	
	
	<div flex ui-view>
		<h2>Setup</h2>
		
		<p>Before you implement a solution, you must set up services. Follow the steps listed in the table below.</p>
	</div>
	

</div>		
	