<h2>Billing Summary</h2>
<p>Shows the principal, interest, and fees billed for the loan.</p>

<h2>Payment Summary</h2>
<p>Shows amounts received for the payment number and the source of the payment.</p>
<ul>
	<li>Receipts - cash applied
	<li>Netting Credit Memos - from AR/AP netting process
	<li>Loan Payment Credit Memos - credit memos with a reason of loan payment
	<li>Other Credit Memos - usually credit memos canceling payments
	<li>Adjustments - adjustments created in Receivables, such write-offs
</ul>
