<h1>Loan products</h1>

<p>Loan Product is a product offering that provides defaulted and mandatory
characteristics that meet loan program rules including term, index rates, fees, conditions
and disbursement. Loan products are tied to loan types and cannot be created until loan
types are available. Also, you must set up rates, conditions and notifications before
creating a loan product. Before creating a new loan product, you can search existing
loan products and duplicate any match that suits your need.</p>

<table class="table">
	<thead>
		<tr>
			<th>Code</th>
			<th>Name</th>
			<th>Type</th>
			<th>Class</th>
			<th>Currency</th>
			<th>Segment</th>
			<th>Start date</th>
			<th>End date</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>
				<md-button>Update</md-button>
				<md-button>Duplicate</md-button>
			</td>
		</tr>
	</tbody>
</table>

<md-button class="md-raised" ng-href="#/lms/setup/loan_products/new">Create new</md-button>