<h1>Loan types</h1>

<p>Loan Type is a structure to which Loan Products are associated. A Loan Type provides
the mandatory characteristics to set boundaries while defining Loan Products. Loan
Type defines accounting, reserving funds, critical calculations, ability to convert
construction loan to permanent loans and requirement for collateral. Setting these
parameters ensures all associated Loan Products adhere to same default settings as set
up in the selected loan type. Before creating a new loan type, you can search for existing
loan types that match your criteria and duplicate the loan type.</p>

<table class="table">
	<thead>
		<tr>
			<th>Type</th>
			<th>Class</th>
			<th>Description</th>
			<th>Start date</th>
			<th>End date</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>Completed | Incomplete</td>
			<td>
				<md-button>Update</md-button>
				<md-button>Duplicate</md-button>
			</td>
		</tr>
	</tbody>
</table>

<md-button class="md-raised" ng-href="#/lms/setup/loan_types/new">Create new</md-button>